* {
  margin: 0;
  padding: 0;
}

@media (max-width: 800px) and (orientation: landscape) {
  p {
    font-size: 20px;
    color: rgb(105, 94, 66);
  }
}

body {
  background-color: #ccc;
}

header {
  display: flex;
  background-color: #3b5555;
}

#banner {
  width: 100%;
  height: 450px;
}

nav {
  background-color: rgb(125, 137, 138);
  text-align: center;
  font-size: larger;
  margin: 20px;
  padding: 20px;
  box-sizing: border-box;
}
/* propriedades editáveis dos links */
a {
  color: #1a1919;
  font: larger;
  font-family: monospace;
  font-weight: bold;
  text-decoration: none;
  margin-right: 40px;
}

a:hover {
  color: azure;
}

section {
  background-color: rgb(115, 125, 126);
  padding: 20px;
  margin: 20px;
}

#cliente {
  font-family: monospace;
  font-size: larger;
  text-indent: 20px;
  line-height: 30px;
  text-align: center;
  font-weight: bolder;
}

#formcenter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

form {
  width: 400px;
  margin: 10px;
  padding: 10px;
}

fieldset {
  border: 1px solid rgb(90, 90, 90);
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
}

legend {
  font-family: monospace;
  font-weight: bolder;
  text-align: center;
}

#novosusuarios {
  font-size: x-large;
  text-align: center;
  margin: auto;
}

p {
  text-align: center;
  font-family: monospace;
  font-weight: bold;
}

label,
fieldset,
input,
select,
textarea {
  font-family: monospace;
  font-size: large;
  font-weight: bolder;
  text-align: center;
  margin: 10px 10px 10px 10px;
}

input [type='radio'],
input [type='checkbox'] select,
textarea {
  width: 80%;
  height: 30px;
  margin-bottom: 10px;
  padding-left: 5px;
  box-sizing: border-box;
  border: 2px solid #8f8d8d;
  font: monospace;
}

button {
  width: 70px;
  height: 40px;
  margin: 15px 15px 15px 15px;
  border: rgb(49, 48, 48) solid 2px;
  font-weight: bold;
  font-family: monospace;
}

#cadastro {
  font-size: x-large;
  font-weight: bolder;
  margin: auto;
  text-align: center;
  margin: auto;
}

footer {
  background-color: darkgray;
  width: 100%;
  padding: 20px;
  border: black solid 5px;
  box-sizing: border-box;
}
